<?xml version="1.0" encoding="UTF-8"?>
<SystemProperties>
  <SystemName>Controller1</SystemName>
  <SerialNo>VIRTUAL_CONTROLLER</SerialNo>
  <UsedMedia>
    <Media path="C:/Users/DR-LT-48/AppData/Local/ABB/RobotWare/RobotOS_17.1.0" name="RobotOS" version="17.1.0+360" versionName="17.1.0"/>
    <Media path="C:/Users/DR-LT-48/AppData/Local/ABB/RobotWare/RobotControl_7.19.1" name="RobotControl" version="7.19.1+874" versionName="7.19.1"/>
    <Media path="C:/Users/DR-LT-48/AppData/Local/ABB/RobotWare/FlexPendant/Apps_1.20.0" name="FlexPendantSoftwareUpdate" version="1.20.0+1407" versionName="1.20.0"/>
    <Media path="C:/Users/DR-LT-48/AppData/Local/ABB/RobotWare/Robots_1.19.0" name="Robots" version="1.19.0+113" versionName="1.19.0"/>
  </UsedMedia>
  <ControlModule>
    <Option descr="3114-1 Multitasking"/>
    <Option descr="MultiMove system"/>
    <Option descr="RobotControl Base"/>
    <Option descr="English"/>
    <Option descr="3120-1 FlexPendant Limited App Package"/>
    <Option descr="3120-2 FlexPendant Essential App Package"/>
    <Option descr="3151-1 FlexPendant Program Package"/>
    <Option descr="3102-1 MultiMove Coordinated"/>
    <Option descr="Two robots"/>
  </ControlModule>
  <DriveModule>
    <Name>Robot1</Name>
    <Option descr="Motor Commutation"/>
    <Option descr="Service Info System"/>
    <Option descr="System without axis computer"/>
    <Option descr="Main computer M28.04"/>
    <Option descr="V250XT"/>
    <Option descr="E8 (High Power)"/>
    <Option descr="Axis Calibration"/>
    <Option descr="Pendulum Calibration"/>
    <Option descr="V250XT Type B"/>
    <Option descr="ADU in position 1"/>
    <Option descr="ADU in position 2"/>
    <Option descr="ADU in position 3"/>
  </DriveModule>
  <DriveModule>
    <Name>Robot2</Name>
    <Option descr="System without axis computer"/>
    <Option descr="Main computer M28.04"/>
    <Option descr="V250XT"/>
    <Option descr="E8 (High Power)"/>
    <Option descr="Axis Calibration"/>
    <Option descr="Pendulum Calibration"/>
    <Option descr="V250XT Type B"/>
  </DriveModule>
  <AdditionalOption>
    <Name>FlexPendantSoftwareUpdate</Name>
    <Option descr="FlexPendant App Package"/>
  </AdditionalOption>
  <AdditionalOption>
    <Name>Robots</Name>
    <Option descr="Robots Base"/>
    <Option descr="IRB 4600-40/2.55 Type C"/>
    <Option descr="IRB 4600-40/2.55 Type C"/>
  </AdditionalOption>
</SystemProperties>
